
/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Circular Std', sans-serif;
  }

:root{
    --top: #080b12;
    --primary: #141922;
    --sidebar: #000000;
    --footer: #282828;
    --light: #ffffff;
    --icon: #a3a3a3;
    --green: #adff2f;

}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

/* #endregion Common */


/* #region Utilities */

img,
svg
{
    max-width: 100%;
    vertical-align: middle;
}

.d_flex{
    display: flex;
}

.flex_end{
    justify-content: flex-end;
}

.direction_column{
    flex-direction: column;
}

.content_between
{
    justify-content: space-between;
}

.content_center{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

.grow_1{
    flex-grow: 1;
}

.item_center{
    align-items: center;
}

.p_relative{
    position: relative;
 }
 
.pl_1{
    padding-left: 1rem;
 }

.mt_1{
    margin-top: 1rem;
}



/* colors */
.white{
    color: white;
}

.grey{
    color: var(--icon);
}

[class^="col_"] { 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
/* #endregion Utilities */


/* #region Debug */


.top{
    background-color: bisque;
}

.debug .banner_footer {
    background-color: aqua;
}

.debug .sidebar{
    background-color: coral;
}

.debug .sidebar_top{
    background-color: rgba(4, 110, 75, 0.699);
}


.debug .sidebar_bottom{
    background-color: rgb(37, 34, 204);
}

.debug .banner_top{
    background-color: #a3a3a3;
  
    width: 100%;
}

.debug .content{
    background-color: red;
}

.debug .banner_footer div{
    background-color: aqua;
    border: 1px dashed;
}


/* #endregion Debug */


/* #region Main */

.top{
    height: calc(100vh - 90px);
    display: flex;
}


.sidebar{
    flex-basis: 50px;
    padding: 5px 0;
    background-color: var(--sidebar);
}

.top .sidebar_top{
    height: calc(100% - 60px);
}

.top .sidebar_bottom{
    height: 60px;
}

.sidebar_top{
    flex-grow: 1;
}

.container_logo{
    padding: 1rem 5px;
}

.logo{
    display: none;
}

img.logo_small{
    min-width: 20px;
}


.container_icon{
    padding-left: 12px;
    padding-top: 25px;
}

.icon_sidebar{
    height: 25px;
    color: var(--icon);
}


.text_icon{
    display: none;
    color: var(--icon);
}

.icon_sidebar:hover, 
.text_icon:hover
{
    color: var(--light);
}

.sidebar_bottom{
    padding-left: 7px;
}

.sidebar_bottom img{
    color: var(--icon);
    margin-right: 5px; 
}

.sidebar_bottom a{
    padding-left: 5px;
}

.icon_download{
    width: 20px;
}

.circle{
    width: 22px;
    fill: white;
    aspect-ratio: 1 / 1;
    background-color: var(--icon);
    border-radius: 50%;
}

.sidebar_bottom span{
    display: none;
   
}

.sidebar_bottom div{
    padding: 5px 0;
}


.install{
    margin-left: -3px;
}

.upgrade{
    height: 90px;
    position: relative;
}

.banner_top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    flex-basis: 90px;
    padding-right: 10px;
    background-color: var(--top);
}

.banner_top .btn{
    border-radius: 20px;
    padding: 10px 17px;
    border: 1px solid var(--icon);
    color: var(--icon);
}

.btn:hover{
    transition: 2s;
    font-size: 20px;
    border: 1px solid var(--light);
    color: var(--light);
}

.playlist{
    display: none;
}

.content{
   flex-grow: 1;
   background-color: var(--primary);
   width: calc(100% - 50px);
}

.container_album{
    overflow-y: auto;
}

.banner_link{
    margin: 20px 10px;
}

.banner_link li a {
    font-size: 14px;
    font-weight: 700;
    color: var(--icon);
    padding: 10px 10px;
}

.banner_link a:hover{
    color: var(--light);
}

.border_bottom
{
    border-bottom: 1px solid #adff2f;
    width: 50px;
    margin: 0 29px;
}

.recent{
    color: var(--light);
    padding: 1rem 1rem;
    overflow-x: auto;
}

.recent h2{
    margin-bottom: 10px;
}

.recent span{
    font-size: 12px;
    color: var(--icon);
    margin-top: 1rem;
}

.albums{
    padding-top: 1rem;
}

.album{
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.album .play:hover img{
    filter: brightness(0.5);
}

.circle_play .fa-circle-play{
    filter: opacity(0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    font-size: 50px;
}

.circle_play .fa-circle-play:hover {
    color: var(--light);
    filter: opacity(1);
    z-index: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.album_info{
    padding-top: 10px;
   text-align: center;
}

.album_info h4{
    color: var(--light);
    padding-bottom: 10px;
}

.album_info span{
    font-size: 12px;
    color: var(--icon);
}

.hoop{
    border-radius: 50%
    
}

/* #endregion Main */


/* #region col */
.col_1{
    width: calc(100% /12 * 1);
}

.col_2{
    width: calc(100% /12 * 2);
}

.col_3{
    width: calc(100% /12 * 3);
}

.col_4{
    width: calc(100% /12 * 4);
}

.col_5{
    width: calc(100% /12 * 5);
}

.col_6{
    width: 50%;
}

.col_7{
    width: calc(100% /12 * 7);
}

.col_8{
    width: calc(100% /12 * 8);
}

.col_9{
    width: calc(100% /12 * 9);
}

.col_10{
    width: calc(100% /12 * 10);
}

.col_11{
    width: calc(100% /12 * 11);
}

.col_12{
    width: calc(100% /12 * 12);
}


/* #endregion col */


/* #region @Media */

@media screen and (max-height: 456px) {
    .sidebar .playlist{
        display: none;
    }
    
}

@media screen and (max-width: 480px){

    .footer_left .icon_cover{
        display: none;
    }
    .footer_left .cover{
        display: none;
    }

    .footer_middle .play_song a:nth-child(1){
        display: none;
    }

     .footer_middle .play_song a:nth-child(5){
        display: none;
    } 

    .footer_middle .times_song a:nth-child(3){
        display: none;
    }

    .footer_middle a:nth-child(1){
        display: none;
    }

    .icon_footer_right a:nth-child(1){
        display: none;
    }
    .icon_footer_right a:nth-child(2){
        display: none;
    }

    .banner_top .btn{
        border-radius: 20px;
        padding: 5px 8px;
        border: 1px solid var(--icon);
        color: var(--icon);
    }
    
    .btn:hover{
        transition: 2s;
        font-size: 16px;
        border: 1px solid var(--light);
        color: var(--light);
    }

    .install a,
    .profile a 
    {
        justify-content: center;
    }


}

@media screen and (min-width: 480px) {
   
    .sidebar {
         flex-basis: 220px;
    }


    .container_logo{
        display: flex;
        align-items: center;
        width: 60%;
        height: 40px;
        margin: 10px 10px;
    }

    .logo_small{
        display: none;
        min-height: 20px;
    }

    .logo{
        display: inline-block;
    }

    .text_icon{
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
    }

    
    .sidebar_bottom span{
        display: inline-block;
        height: 20px;
        color: var(--icon);
    }

    .playlist{
        display: block;
        color: var(--light);
        padding-left: 12px;
        padding-top: 1.5rem;
        line-height: 25px;
        color: var(--icon);
    }

    .playlist span{
        font-size: 14px;
    }

    .list_playlist{
        height: calc(100vh - 460px);
        overflow-y: auto;
       font-size: 14px;
    }
   
    .list_playlist::-webkit-scrollbar,
    .container_album::-webkit-scrollbar
    {
        width: 5px;
    }

    .list_playlist::-webkit-scrollbar-track,
    .container_album::-webkit-scrollbar-track
    {
        background: var(--sidebar) ;
    }

    .list_playlist::-webkit-scrollbar-thumb,
    .container_album::-webkit-scrollbar-thumb
    {
        background: var(--icon); 
        border-radius: 10px;
    }
    

    .list_playlist::-webkit-scrollbar-thumb:hover,
    .container_album::-webkit-scrollbar-thumb:hover
    {
        background: var(--light);
    }


    .list_playlist a{
        color: var(--icon);
    }

    .plus span{
        text-align: center;
        background-color: var(--icon);
        color: var(--sidebar);
        margin-right: 10px;
        padding: 0px 10px;
        aspect-ratio: 1 / 1;
        font-size: 2.5rem;
    }

    .playlist h3{
        color: var(--icon);
    }

    .list_playlist > li {
        margin-top: 5px;
        margin-bottom: 5px;
      }

    .playlist a:hover{
        color: var(--light);
    }
    .playlist span:hover{
        color: var(--light);
    }

    .playlist h3:hover{
        color: var(--light);
    }
    
    .content{
        width: calc(100% - 220px);
    }

   
}

/* col sm */
@media screen and (min-width: 576px){
    .col_sm_1{
        width: calc(100% /12 * 1);
    }
    
    .col_sm_2{
        width: calc(100% /12 * 2);
    }
    
    .col_sm_3{
        width: calc(100% /12 * 3);
    }
    
    .col_sm_4{
        width: calc(100% /12 * 4);
    }
    
    .col_sm_5{
        width: calc(100% /12 * 5);
    }
    
    .col_sm_6{
        width: 50%;
    }
    
    .col_sm_7{
        width: calc(100% /12 * 7);
    }
    
    .col_sm_8{
        width: calc(100% /12 * 8);
    }
    
    .col_sm_9{
        width: calc(100% /12 * 9);
    }
    
    .col_sm_10{
        width: calc(100% /12 * 10);
    }
    
    .col_sm_11{
        width: calc(100% /12 * 11);
    }
    
    .col_sm_12{
        width: calc(100% /12 * 12);
    }
}

/* col md */
@media screen and (min-width: 768px){
    .col_md_1{
        width: calc(100% /12 * 1);
    }
    
    .col_md_2{
        width: calc(100% /12 * 2);
    }
    
    .col_md_3{
        width: calc(100% /12 * 3);
    }
    
    .col_md_4{
        width: calc(100% /12 * 4);
    }
    
    .col_md_5{
        width: calc(100% /12 * 5);
    }
    
    .col_md_6{
        width: 50%;
    }
    
    .col_md_7{
        width: calc(100% /12 * 7);
    }
    
    .col_md_8{
        width: calc(100% /12 * 8);
    }
    
    .col_md_9{
        width: calc(100% /12 * 9);
    }
    
    .col_md_10{
        width: calc(100% /12 * 10);
    }
    
    .col_md_11{
        width: calc(100% /12 * 11);
    }
    
    .col_md_12{
        width: calc(100% /12 * 12);
    }

}

/* col lg */
@media screen and (min-width: 1152px){
    .col_lg_1 {
        width: calc(100% /12 * 1);
    }
    
    .col_lg_2 {
        width: calc(100% /12 * 2);
    }
    
    .col_lg_3 {
        width: calc(100% /12 * 3);
    }
    
    .col_lg_4 {
        width: calc(100% /12 * 4);
    }
    
    .col_lg_5 {
        width: calc(100% /12 * 5);
    }
    
    .col_lg_6 {
        width: 50%;
    }
    
    .col_lg_7 {
        width: calc(100% /12 * 7);
    }
    
    .col_lg_8 {
        width: calc(100% /12 * 8);
    }
    
    .col_lg_9 {
        width: calc(100% /12 * 9);
    }
    
    .col_lg_10 {
        width: calc(100% /12 * 10);
    }
    
    .col_lg_11 {
        width: calc(100% /12 * 11);
    }
    
    .col_lg_12 {
        width: calc(100% /12 * 12);
    }
}


/* #endregion @Media */


/* #region Footer */








.container_footer{
    height: 90px;
    background-color: var(--footer);
}

.footer_left{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.footer_middle{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    
}

.footer_right{
    width: calc(100% / 3);
    height: 100%;

}

.cover{
    width: 40px;
}

.info_cover{
    padding: 0 10px;
}

.icon_cover{
    padding-left: 2rem;
}

.icon_cover a:hover{
    font-size: 14px;
}

.footer_left h4{
    color: var(--light);
    font-size: 16px;
}

.footer_left h4:hover{
    border-bottom: 1px solid var(--light);
    width: 82%;
}

.footer_left a{
    color: var(--icon);
    font-size: 12px;
}

.footer_left a:hover{
    color: var(--light);
    border-bottom: 1px solid var(--light);
    width: 65%;
}

.play_song{
    margin-bottom: 15px;
}

.footer_middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.times_song{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time_song{
    flex-grow: 1;
    height: 5px;
    background-color: var(--icon);
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: 70%;
}

.current_time{
    height: 100%;
    background-color: var(--light);
    border-radius: 5px;
    width: 10%;
}

footer .fa-circle-play {
    transition: transform 0.4s;
  }

footer .fa-circle-play:hover {
    transform: scale(1.2);
  }


.footer_middle i,
.footer_middle span{
    color: var(--light);
}

.footer_right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: var(--light);
}

.footer_right .times_song{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.icon_footer_right a{
    color: var(--icon);
}

.icon_footer_right a:hover{
    color: var(--light);
    font-size: 18px;
}



/* #endregion Footer */


