
/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --top: #080b12;
    --primary: #141922;
    --sidebar: #000000;
    --footer: #282828;
}



/* #endregion Common */



/* #region Utilities */

img,
svg
{
    max-width: 100%;
}

.d_flex{
    display: flex;
}

.flex_end{
    justify-content: flex-end;
}

.direction_column{
    flex-direction: column;
}

.content_between
{
    justify-content: space-between;
}


.p_relative{
    position: relative;
 }
 




/* #endregion Utilities */


/* #region Debug */


.top{
    background-color: bisque;
}

.debug .banner_footer {
    background-color: aqua;
}

.debug .sidebar{
    background-color: coral;
}

.debug .sidebar_top{
    background-color: rgba(4, 110, 75, 0.699);
}


.debug .sidebar_bottom{
    background-color: rgb(37, 34, 204);
}


.debug .banner_top{
    background-color: darkgray;
}

/* #endregion Debug */









/* #region Main */

.top{
    height: calc(100vh - 90px);
    display: flex;
}


.sidebar{
    flex-basis: 50px;
    padding: 5px 0;
    background-color: var(--sidebar);
}

.top > .sidebar{
    width: 70px;
    overflow: hidden;
}

.top .sidebar_top{
    height: calc(100% - 60px);
}



.top .sidebar_bottom{
    height: 60px;
}

.sidebar_top{
    flex-grow: 1;
}

.container_logo{
    padding: 0 10px;
}

.logo{
    display: none;
}

/* #endregion Main */

/* #region @Media */



@media screen and (min-width: 480px) {
   
    .sidebar {
         flex-basis: 220px;
    }

    .container_logo{

        display: flex;
        align-items: center;
        width: 70%;
        height: 80px;
    }

    .logo_small{
        display: none;
    }

    .logo{
        display: inline-block;
    }
}







/* #endregion @Media */














/* #region Footer */






.banner_footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
}



/* #endregion Footer */


