
/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --top: #080b12;
    --primary: #141922;
    --sidebar: #000000;
    --footer: #282828;
}



/* #endregion Common */



/* #region Utilities */

img{
    max-width: 100%;
}

.d_flex{
    display: flex;
}

.direction_column{
    flex-direction: column;
}








/* #endregion Utilities */


/* #region Debug */


.top{
    background-color: bisque;
}

.debug footer.bottom {
    background-color: aqua;
}

.debug .sidebar{
    background-color: coral;
}

.debug .sidebar_top{
    background-color: rgba(4, 110, 75, 0.699);
}


.debug .sidebar_bottom{
    background-color: rgb(37, 34, 204);
}


/* #endregion Debug */









/* #region Main */

.top{
    height: calc(100vh - 70px);
    display: flex;
}

.top > .sidebar{
    width: 70px;
    overflow: hidden;
}

.top .sidebar_top{
    height: calc(100% - 60px);
}



.top .sidebar_bottom{
    height: 60px;
}



/* #endregion Main */




/* #region Footer */




footer.bottom{
    height: 70px;
}





/* #endregion Footer */


